<!DOCTYPE html>
<html>

<head>
    <title>Candidates Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">Candidates Client</a>
    </nav>

    <div class="container">
        <div class="starter-template">
            <p> By <b>Jerome Vonk</b> - June, 2018 </p>
            <p> Please note that this page is still under construction </p>
            <p> More information <a href="https://github.com/jeromevonk/candidates-api/blob/master/README.md" target="blank">here </a>
        </div>
    </div>

    <div id="main" class="container">
        <p>
            <button type="button" class="btn btn-default" data-bind="click: beginAdd">Add Candidate</button>
            <button type="button" class="btn btn-default" onClick="window.location.reload()">Refresh list</button>
            <label class="btn btn-default btn-file">
                Batch Upload
                <input type="file" id="inputBatch" data-bind="event: { change: function() { batch_insert($element.files[0]) } }" style="display: none;" accept="application/zip">
            </label>
            <button type="button" class="btn btn-danger" data-bind="click: deleteAll">Delete all</button>
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <h4 class="display-3" align="center">Candidate</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Information</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Education</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Experience</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Options</h4>
                    </th>
                </tr>
            </thead>
            <tbody>

                <!-- ko foreach: candidates_array -->
                <tr>
                    <td>
                        <p>
                            <h4 class="display-4"><span data-bind="text: name"></span></h4>
                        </p>
                        <p><i data-bind="text: email"></i></p>
                        <div style='height: 150px; width: 150px;'>
                            <img alt="" data-bind="attr: { src: 'data:image/png;base64,' + picture() }" style='height: 100%; width: 100%; object-fit: scale-down;' />
                        </div>
                    </td>
                    </td>
                    <td>
                        <p>Gender: <b data-bind="text: gender"></b></p>
                        <p>Birthdate: <b data-bind="text: birthdate"></b></p>
                        <p>Phone: <b data-bind="text: phone"></b></p>
                        <p>Address: <b data-bind="text: address"></b></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Latitude: <b data-bind="text: latitude"></b></li>
                            <li class="list-inline-item">Longitude: <b data-bind="text: longitude"></b></li>
                        </ul>
                        <p>Tags: <b data-bind="text: tags"></b></p>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <!-- ko foreach: education -->
                            <li><b data-bind="text: degree"></b> degree from <i data-bind="text: institution"></i> </li>
                            <li><b>From</b> <span data-bind="text: date_start"></span> <b>to</b> <span data-bind="text: date_end"></span></li>
                            <li><b>Description:</b> <span data-bind="text: description"></span></li>
                            <hr>
                            <!-- /ko -->
                        </ul>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <!-- ko foreach: experience -->
                            <li><b data-bind="text: job_title"></b> @ <i data-bind="text: company"></i> </li>
                            <li><b>From</b> <span data-bind="text: date_start"></span> <b>to</b> <span data-bind="text: date_end"></span></li>
                            <li><b>Description:</b> <span data-bind="text: description"></span></li>
                            <hr>
                            <!-- /ko -->
                        </ul>
                    </td>
                    <td>
                        <p></p>
                        <p>
                            <button type="button" data-bind="click: $parent.beginEdit" class="btn btn-warning">Edit</button>
                        </p>
                        <p>
                            <button type="button" data-bind="click: $parent.remove" class="btn btn-danger">Delete</button>
                        </p>
                        <p></p>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>

    </div>
    <div id="add" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Candidate</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <input data-bind="value: name" class="form-control" type="text" id="inputName" placeholder="Candidate name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <input data-bind="value: email" class="form-control" type="email" id="inputEmail" placeholder="fake@example.com" style="width: 200px;">
                        </div>

                        <div class="form-group">
                            <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                            <input data-bind="value: gender" class="form-control" type="number" id="inputGender" placeholder="1" style="width: 50px;">
                        </div>

                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                            <input data-bind="value: phone" class="form-control" type="text" id="inputPhone" placeholder="11912344321" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                            <input data-bind="value: address" class="form-control" type="text" id="inputAddress" placeholder="Rua..." style="width: 300px;">
                        </div>

                        <div class="form-group">
                            <label for="inputBirthdate" class="col-sm-2 control-label">Birthdate</label>
                            <input data-bind="value: birthdate" class="form-control" type="text" id="inputBirthdate" placeholder="11912344321" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputLatitude" class="col-sm-2 control-label">Latitude</label>
                            <input data-bind="value: latitude" class="form-control" type="number" step=0.0001 id="inputLatitude" placeholder="33.0000" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
                            <input data-bind="value: longitude" class="form-control" type="number" step=0.0001 id="inputLongitude" placeholder="16.6000" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputTags" class="col-sm-2 control-label">Tags</label>
                            <input data-bind="value: tags" class="form-control" type="text" id="inputTags" placeholder="engineer, student" style="width: 300px;">
                            <!-- <small id="tagHelp" class="form-text text-muted">Separate tags by commas.</small> -->
                        </div>

                        <div class="form-group">
                            <label for="inputPicture" class="col-sm-2 control-label">Picture</label>
                            <label class="btn btn-default btn-file">
                                Browse
                                <input type="file" id="inputPicture" data-bind="event: { change: function() { uploadImage($element.files[0]) } }" style="display: none;" accept="image/jpeg">
                            </label>
                        </div>

                        <hr>
                        <h4> Experience </h4>
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2 control-label">Company</label>
                            <input data-bind="value: company" class="form-control" type="text" id="inputCompany" placeholder="Company name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobTitle" class="col-sm-2 control-label">Job title</label>
                            <input data-bind="value: job_title" class="form-control" type="text" id="inputJobTitle" placeholder="" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobStart" class="col-sm-2 control-label">Start</label>
                            <input data-bind="value: job_start" class="form-control" type="text" id="inputJobStart" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobEnd" class="col-sm-2 control-label">End</label>
                            <input data-bind="value: job_end" class="form-control" type="text" id="inputJobEnd" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobDesc" class="col-sm-2 control-label">Description</label>
                            <input data-bind="value: job_desc" class="form-control" type="text" id="inputJobDesc" placeholder="" style="width: 300px;">
                        </div>

                        <hr>
                        <h4> Education </h4>
                        <div class="form-group">
                            <label for="inputInstitution" class="col-sm-2 control-label">Institution</label>
                            <input data-bind="value: institution" class="form-control" type="text" id="inputInstitution" placeholder="Institution name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputDegree" class="col-sm-2 control-label">Degree</label>
                            <input data-bind="value: degree" class="form-control" type="text" id="inputDegree" placeholder="" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdStart" class="col-sm-2 control-label">Start</label>
                            <input data-bind="value: ed_start" class="form-control" type="text" id="inputEdStart" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdEnd" class="col-sm-2 control-label">End</label>
                            <input data-bind="value: ed_end" class="form-control" type="text" id="inputEdEnd" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdDesc" class="col-sm-2 control-label">Description</label>
                            <input data-bind="value: ed_desc" class="form-control" type="text" id="inputEdDesc" placeholder="" style="width: 300px;">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: addCandidate" class="btn btn-primary">Add Candidate</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edit" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Edit Candidate</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <input data-bind="value: name" class="form-control" type="text" id="inputName" placeholder="Candidate name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <input data-bind="value: email" class="form-control" type="email" id="inputEmail" placeholder="fake@example.com" style="width: 200px;">
                        </div>

                        <div class="form-group">
                            <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                            <input data-bind="value: gender" class="form-control" type="number" id="inputGender" placeholder="1" style="width: 50px;">
                        </div>

                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                            <input data-bind="value: phone" class="form-control" type="text" id="inputPhone" placeholder="11912344321" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputAddress" class="col-sm-2 control-label">Address</label>
                            <input data-bind="value: address" class="form-control" type="text" id="inputAddress" placeholder="Rua..." style="width: 300px;">
                        </div>

                        <div class="form-group">
                            <label for="inputBirthdate" class="col-sm-2 control-label">Birthdate</label>
                            <input data-bind="value: birthdate" class="form-control" type="text" id="inputBirthdate" placeholder="11912344321" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputLatitude" class="col-sm-2 control-label">Latitude</label>
                            <input data-bind="value: latitude" class="form-control" type="number" step=0.0001 id="inputLatitude" placeholder="33.0000" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputLongitude" class="col-sm-2 control-label">Longitude</label>
                            <input data-bind="value: longitude" class="form-control" type="number" step=0.0001 id="inputLongitude" placeholder="16.6000" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputTags" class="col-sm-2 control-label">Tags</label>
                            <input data-bind="value: tags" class="form-control" type="text" id="inputTags" placeholder="engineer, student" style="width: 300px;">
                            <!-- <small id="tagHelp" class="form-text text-muted">Separate tags by commas.</small> -->
                        </div>

                        <div class="form-group">
                            <label for="inputPicture" class="col-sm-2 control-label">Picture</label>
                            <label class="btn btn-warning btn-file">
                                Browse
                                <input type="file" id="inputPicture" data-bind="event: { change: function() { uploadImage($element.files[0]) } }" style="display: none;" accept="image/jpeg">
                            </label>
                        </div>

                        <hr>
                        <h4> Experience </h4>
                        <div class="form-group">
                            <label for="inputCompany" class="col-sm-2 control-label">Company</label>
                            <input data-bind="value: company" class="form-control" type="text" id="inputCompany" placeholder="Company name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobTitle" class="col-sm-2 control-label">Job title</label>
                            <input data-bind="value: job_title" class="form-control" type="text" id="inputJobTitle" placeholder="" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobStart" class="col-sm-2 control-label">Start</label>
                            <input data-bind="value: job_start" class="form-control" type="text" id="inputJobStart" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobEnd" class="col-sm-2 control-label">End</label>
                            <input data-bind="value: job_end" class="form-control" type="text" id="inputJobEnd" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputJobDesc" class="col-sm-2 control-label">Description</label>
                            <input data-bind="value: job_desc" class="form-control" type="text" id="inputJobDesc" placeholder="" style="width: 300px;">
                        </div>

                        <hr>
                        <h4> Education </h4>
                        <div class="form-group">
                            <label for="inputInstitution" class="col-sm-2 control-label">Institution</label>
                            <input data-bind="value: institution" class="form-control" type="text" id="inputInstitution" placeholder="Institution name" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputDegree" class="col-sm-2 control-label">Degree</label>
                            <input data-bind="value: degree" class="form-control" type="text" id="inputDegree" placeholder="" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdStart" class="col-sm-2 control-label">Start</label>
                            <input data-bind="value: ed_start" class="form-control" type="text" id="inputEdStart" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdEnd" class="col-sm-2 control-label">End</label>
                            <input data-bind="value: ed_end" class="form-control" type="text" id="inputEdEnd" placeholder="dd/mm/yyyy" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputEdDesc" class="col-sm-2 control-label">Description</label>
                            <input data-bind="value: ed_desc" class="form-control" type="text" id="inputEdDesc" placeholder="" style="width: 300px;">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: editCandidate" class="btn btn-primary">Update Candidate</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ViewModels.js') }}"></script>
</body>

</html>